@import 'tailwindcss';

@font-face {
  font-family: 'NEXON Lv2 Gothic';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
  font-weight: 300;
}
.font-georgia {
  font-family: Georgia, serif !important;
}

body{
  margin:0;
  padding:0;
  font-family: 'NEXON Lv2 Gothic', sans-serif;
}
*{
  box-sizing: border-box;
  font-family: 'NEXON Lv2 Gothic', sans-serif;
}
button, a {
  cursor: pointer;
  text-decoration: none;
}
input, textarea {
  outline: none;
}
/* 프로젝트 테마 컬러 스크롤바 */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent; /* 배경색과 동일 */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #4d5566; /* 프로젝트 메인 컬러 */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #403930; /* 호버 시 더 진한 색 */
}